.home-top{
    background-image: url(../../images/slide1.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // min-height: calc(100vh - 115px);
    min-height: 100vh;
    // position: relative;
    // .search-panel{
    //     background-color: $white-color;
    //     @extend .box-shadow;
    //     @extend .ptb-30;
    //     position: absolute;
    //     bottom: -60px;
    //     width: 100%;
    //     // left:0;
    //     // right:0;
    //     z-index: 100;
    //     &__container{
    //         @include flex-container;
    //     }
    
    // }
    .header{
    
        
    }
}